*
{
	margin: 0;
	padding: 0;
}

:root {
  --clr-white: #fff;
  --clr-black: #222;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --fixed-width: 400px;
  --clr-vio: #673ab7;
}
.main-birthday{
  background: var(--clr-vio);
}
main
{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container
{
	width: 90vw;
	margin: 5rem 10px;
	background: var(--clr-white);
	max-width: var(--fixed-width);
	padding: 1.5rem 2rem;
  	box-shadow: var(--dark-shadow);
  	border-radius: var(--border-radius);
}

.container .person
{
	display: flex;
	margin-bottom:20px;
    align-items: center;
}

.container .person img
{
	border-radius: 50%;
	width: 75px;
	height: 75px;
	object-fit: cover;
	box-shadow: var(--light-shadow);
}
